@import "tailwindcss";

body {
  background: #FFFFFF;
  color: #032B41;
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  scroll-behavior: smooth;
}


/* Sidebar Styling */

.sidebar {
  background-color: #F7FAF9;
}

.icons {
  width: 24px;
  height: 24px;
}